<!--<c-footer>-->
  <div>
    <!-- <a href="https://coreui.io/pro/angular/" target="_blank">CoreUI</a> -->
    <span> &copy; 2022 College</span>
  </div>
  <div class="ms-auto">
    Derechos Reservados
    <!-- <a href="https://coreui.io/pro/angular" target="_blank">
      <span> CoreUI v4 for Angular</span>
    </a> -->
  </div>
<!--</c-footer>-->
