<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <c-card-group style="margin: 15%">
          <c-card class="p-4">
            <c-card-body>
              <!-- [formGroup]="formLogin" -->
              <form [formGroup]="formLogin" cForm>
                <h1>Login</h1>
                <p class="text-medium-emphasis">Iniciar sesión en su cuenta</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    autoComplete="username"
                    formControlName="email"
                    cFormControl
                    placeholder="Correo"
                    autocomplete="off"
                  />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Contaseña"
                    type="password"
                    autocomplete="off"
                    formControlName="password"
                  />
                </c-input-group>
                <c-row class="mb-4">
                  <!-- [routerLink]="[ '../../colegio/dashboard']" -->
                  <c-col xs="12">
                    <button
                      (click)="login()"
                      cButton
                      class="px-4 w-100"
                      color="primary"
                      [disabled]="!formLogin.valid || btnDisable"
                    >
                      Ingresar
                    </button>
                  </c-col>
                </c-row>
                <c-input-group>
                  <!--   -->
                  <div
                    *ngIf="messageError"
                    class="alert alert-danger claseError w-100 text-center"
                  >
                    <div>Usuario o contraseña incorrecto</div>
                  </div>
                </c-input-group>
              </form>
            </c-card-body>
          </c-card>
          <!--<c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>-->
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
