<div class="modal_success">
  <div class="text-coface-primary text-xl font-bold text-center">
    <h3>{{ message }}</h3>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <button
      class="btn__passWayPay btn btn-primary text-white bg-coface-primary my-4 block mx-auto text-sm"
      (click)="logoutSession()"
    >
      Aceptar
    </button>
    <button
      class="btn__passWayPay btn btn-secondary text-white bg-coface-primary my-4 block mx-auto text-sm"
      (click)="cancel()"
    >
      Cancelar
    </button>
  </div>
</div>
