<div class="fade-in">
  <c-card class="mb-4">
    <div style="margin: 2%">
      <div class="d-flex align-items-center justify-content-between mb-2">
        <h3>{{ nameCourse }}</h3>
        <h4>Sección: {{ codeCourse }}</h4>
      </div>
      <h3>Registro de Notas</h3>
      <br />
      <!-- <button
        (click)="enableButton()"
        type="button"
        class="btn btn-primary btn-sm mr-3"
        style="margin-right: 3px"
      >
        Habilitar
      </button>
      <button
        (click)="disabledButton()"
        type="button"
        class="btn btn-primary btn-sm ml-3"
      >
        Deshabilitar
      </button> -->

      <br />
      <div [formGroup]="formRegistro">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Alumno</th>
              <th scope="col">PC1</th>
              <th scope="col">PC2</th>
              <th scope="col">PC3</th>
              <th scope="col">PC4</th>
              <th scope="col">Ex. Final</th>
              <th scope="col">Calificar</th>
            </tr>
          </thead>
          <tbody>
            <tr
              formArrayName="student"
              *ngFor="let data of students.controls; let i = index"
            >
              <td scope="row">{{ i + 1 }}</td>
              <td>
                {{ data.value.name }}
              </td>
              <ng-container [formGroupName]="i">
                <ng-container formArrayName="scores">
                  <td
                    *ngFor="let x of getScores(data).controls; let j = index"
                    [formGroupName]="j"
                  >
                    <input
                      [value]="x.value.score"
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="score"
                      OnlyNumber="true"
                      autocomplete="off"
                      maxlength="2"
                    />
                    <!-- [disabled]="disableBtn" -->
                  </td>

                  <td>
                    <button
                      class="btn btn-primary btn-sm"
                      (click)="register(data)"
                    >
                      Registrar
                    </button>
                  </td>
                </ng-container>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </c-card>
</div>
