<div class="modal_success">
  <div class="text-coface-primary text-xl font-bold text-center">
    <h3>{{ message }}</h3>
  </div>
  <button
    class="btn__passWayPay btn btn-primary text-white bg-coface-primary my-3 block mx-auto text-sm"
    (click)="closePOPUP()"
  >
    Aceptar
  </button>
</div>
