.modal_success {
    padding: 46px 31px 0;
    background: #Fff;
    border: 2px solid #ccc;
    border-radius: 20px;
    text-align: center;
  }
  
  .btn__passWayPay {
    width: 100%;
    max-width: 235px;
    outline: none;
    border: none;
    border-radius: 24px;
    padding: 10px 15px;
    font-size: 15px;
    height: auto;
  }
  