<div class="d-flex wrap justify-content-center flex-wrap">
  <div
    *ngFor="let course of listCourses; let i = index"
    class="card content-card mx-4 mb-4"
  >
    <img
      class="card-img-top"
      src="assets/img/courses/{{ course.image }}"
      alt="Card image cap"
    />
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-title m-0">{{ course.name }}</h5>
        <h6 class="card-text">Sección: {{ course.code }}</h6>
      </div>

      <button
        (click)="showCourse(course._id)"
        cButton
        class="btn btn-primary mt-2"
      >
        Ver Alumnos
      </button>
    </div>
  </div>
</div>
